# Import

In [1]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.sql.functions import col, lit, sum
import os
from pyspark.sql.functions import udf
from pyspark.sql.types import StructType, StructField, StringType
from time import time

# Spark Conf

In [2]:
# Определяем имя приложения и URL мастера
appName = "task_10"
master = "spark://thunderobot:7077"

# Set Hadoop related configurations
hadoop_conf = {"fs.defaultFS": "hdfs://localhost:9000"}
# Configure Spark with SparkConf

# Настройка SparkConf
conf = SparkConf().setAppName(appName).setMaster(master)
for key, value in hadoop_conf.items():
    conf.set("spark.hadoop." + key, value)
# Создание SparkSession с использованием SparkConf
spark = SparkSession.builder.config(conf=conf).getOrCreate()

24/06/20 00:12:53 WARN Utils: Your hostname, thunderobot resolves to a loopback address: 127.0.1.1; using 192.168.1.203 instead (on interface enp4s0)
24/06/20 00:12:53 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/20 00:12:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

# 1. Загрузка и анализ данных из CSV-файла

## Test Read

In [4]:
# Вывод тестого DF для проверки чтения
df = spark.read.csv(("sales_data/Sales_February_2019.csv"), header = True, inferSchema = True)
df.show()

+--------+--------------------+----------------+----------+--------------+--------------------+
|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  150502|              iPhone|               1|     700.0|02/18/19 01:35|866 Spruce St, Po...|
|  150503|AA Batteries (4-p...|               1|      3.84|02/13/19 07:24|18 13th St, San F...|
|  150504|27in 4K Gaming Mo...|               1|    389.99|02/18/19 09:46|52 6th St, New Yo...|
|  150505|Lightning Chargin...|               1|     14.95|02/02/19 16:47|129 Cherry St, At...|
|  150506|AA Batteries (4-p...|               2|      3.84|02/28/19 20:32|548 Lincoln St, S...|
|  150507|Lightning Chargin...|               1|     14.95|02/24/19 18:50|387 12th St, Aust...|
|  150508|AA Batteries (4-p...|               1|      3.84|02/21/19 19:26|622 Center St, Sa...|
|  150509|Apple Airpods Hea...|               1|     150.0|02/26/19 19:53|921 6th St, Seatt...|
|  150510|USB-C Charging Cable|               1|     11.95|02/17/19 21:48|451 2nd St, Los A...|
|  150511|USB-C Charging Cable|               1|     11.95|02/22/19 07:36|689 River St, San...|
|  150512|Bose SoundSport H...|               1|     99.99|02/17/19 18:29|198 Center St, Lo...|
|  150513|Bose SoundSport H...|               1|     99.99|02/25/19 20:49|777 Spruce St, Lo...|
|  150514|    27in FHD Monitor|               1|    149.99|02/03/19 00:21|723 Wilson St, Lo...|
|  150515|Apple Airpods Hea...|               1|     150.0|02/18/19 14:53|101 13th St, New ...|
|  150516|Lightning Chargin...|               1|     14.95|02/20/19 12:29|303 Sunset St, At...|
|  150517|    Wired Headphones|               1|     11.99|02/08/19 12:57|471 13th St, San ...|
|  150518|  Macbook Pro Laptop|               1|    1700.0|02/26/19 12:38|847 10th St, San ...|
|  150518|              iPhone|               1|     700.0|02/26/19 12:38|847 10th St, San ...|
|  150519|    Wired Headphones|               1|     11.99|02/23/19 13:25|111 Hill St, Dall...|
|  150520|AA Batteries (4-p...|               2|      3.84|02/27/19 14:39|512 Church St, Da...|
+--------+--------------------+----------------+----------+--------------+--------------------+
only showing top 20 rows

## Read folder

In [5]:
# Путь к папке с данными
data_path = "sales_data"

# Список всех файлов CSV в папке
files = [f for f in os.listdir(data_path) if f.endswith('.csv')]

# Создаем пустой DataFrame для объединения данных
sales_df = None

for file in files:
    # Извлекаем месяц из имени файла
    month = file.split('_')[1].split('.')[0]
    
    # Загружаем данные из CSV файла
    df = spark.read.csv(os.path.join(data_path, file), header=True, inferSchema=True)
    
    # Добавляем колонку с месяцем
    df = df.withColumn('Month', lit(month))
    
    # Объединяем данные
    if sales_df is None:
        sales_df = df
    else:
        sales_df = sales_df.union(df)

# Кэшируем итоговый DF
sales_df.cache()

DataFrame[Order ID: int, Product: string, Quantity Ordered: int, Price Each: double, Order Date: string, Purchase Address: string, Month: string]

## Check

In [6]:
# Записываем в дф значения из колонки 'Month' для проверки 
unique_months = sales_df.select("Month").distinct().collect()

# Вывод значений
print(unique_months)

[Row(Month='September'), Row(Month='October'), Row(Month='August'), Row(Month='November'), Row(Month='March'), Row(Month='June'), Row(Month='July'), Row(Month='December'), Row(Month='February'), Row(Month='May'), Row(Month='January'), Row(Month='April')]

## Schema and stats

In [7]:
# Вывод схемы DataFrame
sales_df.printSchema()

# Вывод общей статистики
sales_df.describe().show()

24/06/20 00:13:04 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

root
 |-- Order ID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: integer (nullable = true)
 |-- Price Each: double (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)
 |-- Month: string (nullable = false)

+-------+-----------------+------------+-------------------+------------------+--------------+--------------------+---------+
|summary|         Order ID|     Product|   Quantity Ordered|        Price Each|    Order Date|    Purchase Address|    Month|
+-------+-----------------+------------+-------------------+------------------+--------------+--------------------+---------+
|  count|           185950|      186305|             185950|            185950|        186305|              186305|   186850|
|   mean|230417.5693788653|        NULL| 1.1243828986286637|184.39973476743924|          NULL|                NULL|     NULL|
| stddev|51512.73710999595|        NULL|0.44279262402866953| 332.7313298843437|          NULL|                NULL|     NULL|
|    min|           141234|20in Monitor|                  1|              2.99|01/01/19 03:07|1 11th St, Atlant...|    April|
|    max|           319670|      iPhone|                  9|            1700.0|    Order Date|    Purchase Address|September|
+-------+-----------------+------------+-------------------+------------------+--------------+--------------------+---------+

## Grouping

In [8]:
# Группируем данные по товару и считаем количество продаж для каждого товара, называем значение Total_Sales
top_products = sales_df.groupBy("Product").agg(sum("Quantity Ordered").alias("Total_Sales")).orderBy(col("Total_Sales").desc()).limit(10)

# Выводим Топ-10 товаров
top_products.show()

+--------------------+-----------+
|             Product|Total_Sales|
+--------------------+-----------+
|AAA Batteries (4-...|      31017|
|AA Batteries (4-p...|      27635|
|USB-C Charging Cable|      23975|
|Lightning Chargin...|      23217|
|    Wired Headphones|      20557|
|Apple Airpods Hea...|      15661|
|Bose SoundSport H...|      13457|
|    27in FHD Monitor|       7550|
|              iPhone|       6849|
|27in 4K Gaming Mo...|       6244|
+--------------------+-----------+

# 2. Партиционирование данных и оптимизация производительности

In [9]:
sales_df.rdd.getNumPartitions()

12

In [10]:
sales_df.count()

186850

## With partitions

In [11]:
# Кол-во партиций
num_partitions = 12

# Добавление партиционирования в датафрейм
partitioned_df = sales_df.repartition(num_partitions, "Month")

# Оценка производительности
partitioned_df.createOrReplaceTempView("partitioned_sales")
%timeit spark.sql("SELECT Month, SUM(`Quantity Ordered`) as total_sales FROM partitioned_sales GROUP BY Month").show()

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|     July|      16069|
|      May|      18657|
| December|      28121|
|  January|      10868|
| February|      13461|
|    April|      20568|
|  October|      22705|
| November|      19808|
|    March|      17006|
|   August|      13442|
|     June|      15255|
|September|      13119|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|     July|      16069|
|      May|      18657|
| December|      28121|
|  January|      10868|
| February|      13461|
|    April|      20568|
|  October|      22705|
| November|      19808|
|    March|      17006|
|   August|      13442|
|     June|      15255|
|September|      13119|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|     July|      16069|
|      May|      18657|
| December|      28121|
|  January|      10868|
| February|      13461|
|    April|      20568|
|  October|      22705|
| November|      19808|
|    March|      17006|
|   August|      13442|
|     June|      15255|
|September|      13119|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|     July|      16069|
|      May|      18657|
| December|      28121|
|  January|      10868|
| February|      13461|
|    April|      20568|
|  October|      22705|
| November|      19808|
|    March|      17006|
|   August|      13442|
|     June|      15255|
|September|      13119|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|     July|      16069|
|      May|      18657|
| December|      28121|
|  January|      10868|
| February|      13461|
|    April|      20568|
|  October|      22705|
| November|      19808|
|    March|      17006|
|   August|      13442|
|     June|      15255|
|September|      13119|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|     July|      16069|
|      May|      18657|
| December|      28121|
|  January|      10868|
| February|      13461|
|    April|      20568|
|  October|      22705|
| November|      19808|
|    March|      17006|
|   August|      13442|
|     June|      15255|
|September|      13119|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|     July|      16069|
|      May|      18657|
| December|      28121|
|  January|      10868|
| February|      13461|
|    April|      20568|
|  October|      22705|
| November|      19808|
|    March|      17006|
|   August|      13442|
|     June|      15255|
|September|      13119|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|     July|      16069|
|      May|      18657|
| December|      28121|
|  January|      10868|
| February|      13461|
|    April|      20568|
|  October|      22705|
| November|      19808|
|    March|      17006|
|   August|      13442|
|     June|      15255|
|September|      13119|
+---------+-----------+

183 ms ± 28.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [12]:
partitioned_df.rdd.getNumPartitions()

12

## Without partitions

In [13]:
# Create a temporary view for SQL queries
sales_df = sales_df.coalesce(1)
sales_df.createOrReplaceTempView("sales")

# Measure execution time after repartitioning
%timeit spark.sql("SELECT Month, SUM(`Quantity Ordered`) as total_sales FROM sales GROUP BY Month").show()

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|
+---------+-----------+

+---------+-----------+
|    Month|total_sales|
+---------+-----------+
|September|      13119|
|  October|      22705|
|   August|      13442|
| November|      19808|
|    March|      17006|
|     June|      15255|
|     July|      16069|
| December|      28121|
| February|      13461|
|      May|      18657|
|  January|      10868|
|    April|      20568|

In [14]:
sales_df.rdd.getNumPartitions()

1

## Изменил количество партиций на одну и записал файл обратно на диск.

In [15]:
# Измененил количество партиций
sales_df = partitioned_df.repartition(1) 

# Сохраняем, с функцией перезаписи
%timeit sales_df.write.mode("overwrite").format("csv").partitionBy("Month").option("header", True).save("hdfs://localhost:9000/user/aldiyar/sales_data/sales")

3.46 s ± 860 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [16]:
sales_df.rdd.getNumPartitions()

1

# 3. Работа с различными форматами данных

## JSON

In [17]:
%timeit sales_df.write.mode("overwrite").format("json").partitionBy("Month").option("header", True).save("hdfs://localhost:9000/user/aldiyar/sales_data/sales_json")

4.55 s ± 470 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Parquet

In [18]:
%timeit sales_df.write.mode("overwrite").format("parquet").partitionBy("Month").option("header", True).save("hdfs://localhost:9000/user/aldiyar/sales_data/sales_parquet")

4.9 s ± 375 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## ORC

In [19]:
%timeit sales_df.write.mode("overwrite").format("orc").partitionBy("Month").option("header", True).save("hdfs://localhost:9000/user/aldiyar/sales_data/sales_orc")

5.25 s ± 178 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Выводы

aldiyar@thunderobot:~/skillbox_projects/module_10$ hadoop fs -du -h /user/aldiyar/sales_data/sales
1.5 M     4.6 M  /user/aldiyar/sales_data/sales/Month=April
1023.2 K  3.0 M  /user/aldiyar/sales_data/sales/Month=August
2.1 M     6.3 M  /user/aldiyar/sales_data/sales/Month=December
1.0 M     3.0 M  /user/aldiyar/sales_data/sales/Month=February
826.9 K   2.4 M  /user/aldiyar/sales_data/sales/Month=January
1.2 M     3.6 M  /user/aldiyar/sales_data/sales/Month=July
1.1 M     3.4 M  /user/aldiyar/sales_data/sales/Month=June
1.3 M     3.8 M  /user/aldiyar/sales_data/sales/Month=March
1.4 M     4.1 M  /user/aldiyar/sales_data/sales/Month=May
1.5 M     4.4 M  /user/aldiyar/sales_data/sales/Month=November
1.7 M     5.1 M  /user/aldiyar/sales_data/sales/Month=October
995.2 K   2.9 M  /user/aldiyar/sales_data/sales/Month=September
0         0      /user/aldiyar/sales_data/sales/_SUCCESS

aldiyar@thunderobot:~/skillbox_projects/module_10$ hadoop fs -du -h /user/aldiyar/sales_data/sales_json
3.1 M  9.4 M   /user/aldiyar/sales_data/sales_json/Month=April
2.0 M  6.1 M   /user/aldiyar/sales_data/sales_json/Month=August
4.3 M  12.8 M  /user/aldiyar/sales_data/sales_json/Month=December
2.0 M  6.1 M   /user/aldiyar/sales_data/sales_json/Month=February
1.6 M  4.9 M   /user/aldiyar/sales_data/sales_json/Month=January
2.4 M  7.3 M   /user/aldiyar/sales_data/sales_json/Month=July
2.3 M  6.9 M   /user/aldiyar/sales_data/sales_json/Month=June
2.6 M  7.8 M   /user/aldiyar/sales_data/sales_json/Month=March
2.8 M  8.5 M   /user/aldiyar/sales_data/sales_json/Month=May
3.0 M  9.0 M   /user/aldiyar/sales_data/sales_json/Month=November
3.5 M  10.4 M  /user/aldiyar/sales_data/sales_json/Month=October
2.0 M  5.9 M   /user/aldiyar/sales_data/sales_json/Month=September
0      0       /user/aldiyar/sales_data/sales_json/_SUCCESS

aldiyar@thunderobot:~/skillbox_projects/module_10$ hadoop fs -du -h /user/aldiyar/sales_data/sales_parquet
426.9 K  1.3 M     /user/aldiyar/sales_data/sales_parquet/Month=April
284.9 K  854.6 K   /user/aldiyar/sales_data/sales_parquet/Month=August
574.3 K  1.7 M     /user/aldiyar/sales_data/sales_parquet/Month=December
284.6 K  853.8 K   /user/aldiyar/sales_data/sales_parquet/Month=February
231.2 K  693.6 K   /user/aldiyar/sales_data/sales_parquet/Month=January
337.9 K  1013.7 K  /user/aldiyar/sales_data/sales_parquet/Month=July
319.7 K  959.1 K   /user/aldiyar/sales_data/sales_parquet/Month=June
356.2 K  1.0 M     /user/aldiyar/sales_data/sales_parquet/Month=March
386.8 K  1.1 M     /user/aldiyar/sales_data/sales_parquet/Month=May
411.4 K  1.2 M     /user/aldiyar/sales_data/sales_parquet/Month=November
471.1 K  1.4 M     /user/aldiyar/sales_data/sales_parquet/Month=October
278.0 K  834.1 K   /user/aldiyar/sales_data/sales_parquet/Month=September
0        0         /user/aldiyar/sales_data/sales_parquet/_SUCCESS

aldiyar@thunderobot:~/skillbox_projects/module_10$ hadoop fs -du -h /user/aldiyar/sales_data/sales_orc
338.4 K  1015.3 K  /user/aldiyar/sales_data/sales_orc/Month=April
221.0 K  663.0 K   /user/aldiyar/sales_data/sales_orc/Month=August
460.3 K  1.3 M     /user/aldiyar/sales_data/sales_orc/Month=December
220.8 K  662.4 K   /user/aldiyar/sales_data/sales_orc/Month=February
180.6 K  541.9 K   /user/aldiyar/sales_data/sales_orc/Month=January
264.7 K  794.0 K   /user/aldiyar/sales_data/sales_orc/Month=July
250.5 K  751.4 K   /user/aldiyar/sales_data/sales_orc/Month=June
278.7 K  836.1 K   /user/aldiyar/sales_data/sales_orc/Month=March
304.1 K  912.4 K   /user/aldiyar/sales_data/sales_orc/Month=May
322.1 K  966.2 K   /user/aldiyar/sales_data/sales_orc/Month=November
373.2 K  1.1 M     /user/aldiyar/sales_data/sales_orc/Month=October
215.4 K  646.1 K   /user/aldiyar/sales_data/sales_orc/Month=September
0        0         /user/aldiyar/sales_data/sales_orc/_SUCCESS

После тестирования различных форматов файлов в HDFS я пришёл к следующим выводам:

JSON оказался самым быстрым в использовании для записи данных. Он обрабатывается быстрее остальных форматов, хороший выбор для операций, где скорость записи критична.

Форматы Parquet и ORC отработали хуже по сравнению с JSON, но зато они значительно экономичнее используют место на диске. Хороший вариант для проектов, где важна эффективность хранения данных.

CSV оказался самым медленным и занимающим больше места. Однако он всё ещё полезен для совместимости с другими системами, которые могут требовать этот формат.

В зависимости от конкретных задач и требований проекта я бы предпочёл использовать JSON для оперативных задач, а для долгосрочного хранения данных — Parquet или ORC.

# 4. Работа с UDF и кешированием

## Как выглядит колонка

In [20]:
sales_df.select("Purchase Address").show(truncate=False)

+----------------------------------------+
|Purchase Address                        |
+----------------------------------------+
|389 South St, Atlanta, GA 30301         |
|590 4th St, Seattle, WA 98101           |
|861 Hill St, Atlanta, GA 30301          |
|190 Ridge St, Atlanta, GA 30301         |
|824 Forest St, Seattle, WA 98101        |
|899 Elm St, San Francisco, CA 94016     |
|745 Chestnut St, New York City, NY 10001|
|490 Adams St, New York City, NY 10001   |
|207 1st St, Los Angeles, CA 90001       |
|29 Jefferson St, Dallas, TX 75001       |
|590 6th St, San Francisco, CA 94016     |
|960 Willow St, San Francisco, CA 94016  |
|616 Chestnut St, Dallas, TX 75001       |
|105 Johnson St, Los Angeles, CA 90001   |
|444 Spruce St, San Francisco, CA 94016  |
|764 Adams St, San Francisco, CA 94016   |
|577 Lakeview St, Los Angeles, CA 90001  |
|244 Washington St, Los Angeles, CA 90001|
|524 Cherry St, San Francisco, CA 94016  |
|882 Hickory St, Boston, MA 02215        |
+----------------------------------------+
only showing top 20 rows

In [21]:
sales_df.count()

186850

## Фильтрация на пропуски

In [22]:
df_filtered = sales_df.filter(col("Purchase Address").isNull() | (col("Purchase Address").rlike(r"^\s*\S{3,}")))
df_filtered.count()

168270

## Функция для парсинга

In [23]:
#  Функция для разбора адреса
def parse_address(address):
    if address:
        parts = address.split(", ")
        if len(parts) >= 3:
            street_address = parts[0]
            city = parts[1].rsplit(", ", 1)[0]
            state_zip = parts[2]
            state, postal_code = state_zip.split(" ")
            return (street_address, city, state, postal_code)
    # В случае некорректного адреса или пустой строки возвращаем None
    return (None, None, None, None)

## UDF

In [24]:
# Сформировал UDF
parse_address_udf = udf(parse_address, 
                        StructType([
                            StructField("Street address", StringType(), True),
                            StructField("City", StringType(), True),
                            StructField("State", StringType(), True),
                            StructField("Postal Code", StringType(), True)
                        ]))

# Применил к DF
df_parsed = df_filtered.withColumn("Parsed Address", parse_address_udf(df_filtered["Purchase Address"]))

# Разделил на колонки
df_parsed = df_parsed.withColumn("Street address", df_parsed["Parsed Address"]["Street address"]) \
                     .withColumn("City", df_parsed["Parsed Address"]["City"]) \
                     .withColumn("State", df_parsed["Parsed Address"]["State"]) \
                     .withColumn("Postal Code", df_parsed["Parsed Address"]["Postal Code"]) \
                     .drop("Parsed Address")

# Отобразил преобразованный DF
df_parsed.show(truncate=False)

+--------+------------------------+----------------+----------+--------------+---------------------------------------+---------+--------------+-------------+-----+-----------+
|Order ID|Product                 |Quantity Ordered|Price Each|Order Date    |Purchase Address                       |Month    |Street address|City         |State|Postal Code|
+--------+------------------------+----------------+----------+--------------+---------------------------------------+---------+--------------+-------------+-----+-----------+
|248151  |AA Batteries (4-pack)   |4               |3.84      |09/17/19 14:44|380 North St, Los Angeles, CA 90001    |September|380 North St  |Los Angeles  |CA   |90001      |
|248152  |USB-C Charging Cable    |2               |11.95     |09/29/19 10:19|511 8th St, Austin, TX 73301           |September|511 8th St    |Austin       |TX   |73301      |
|248153  |USB-C Charging Cable    |1               |11.95     |09/16/19 17:48|151 Johnson St, Los Angeles, CA 90001  |September|151 Johnson St|Los Angeles  |CA   |90001      |
|248154  |27in FHD Monitor        |1               |149.99    |09/27/19 07:52|355 Hickory St, Seattle, WA 98101      |September|355 Hickory St|Seattle      |WA   |98101      |
|248155  |USB-C Charging Cable    |1               |11.95     |09/01/19 19:03|125 5th St, Atlanta, GA 30301          |September|125 5th St    |Atlanta      |GA   |30301      |
|248156  |34in Ultrawide Monitor  |1               |379.99    |09/13/19 14:59|469 12th St, Los Angeles, CA 90001     |September|469 12th St   |Los Angeles  |CA   |90001      |
|248157  |Lightning Charging Cable|1               |14.95     |09/07/19 09:59|773 Johnson St, Portland, ME 04101     |September|773 Johnson St|Portland     |ME   |04101      |
|248158  |Lightning Charging Cable|1               |14.95     |09/02/19 14:16|682 Sunset St, Los Angeles, CA 90001   |September|682 Sunset St |Los Angeles  |CA   |90001      |
|248159  |Vareebadd Phone         |1               |400.0     |09/06/19 16:45|664 Wilson St, New York City, NY 10001 |September|664 Wilson St |New York City|NY   |10001      |
|248160  |Wired Headphones        |1               |11.99     |09/01/19 22:03|446 9th St, San Francisco, CA 94016    |September|446 9th St    |San Francisco|CA   |94016      |
|248161  |USB-C Charging Cable    |1               |11.95     |09/24/19 16:26|439 Spruce St, San Francisco, CA 94016 |September|439 Spruce St |San Francisco|CA   |94016      |
|248162  |AAA Batteries (4-pack)  |3               |2.99      |09/14/19 12:52|439 Walnut St, Seattle, WA 98101       |September|439 Walnut St |Seattle      |WA   |98101      |
|248165  |Lightning Charging Cable|1               |14.95     |09/15/19 12:42|585 Adams St, Atlanta, GA 30301        |September|585 Adams St  |Atlanta      |GA   |30301      |
|248167  |Google Phone            |1               |600.0     |09/02/19 18:52|711 Forest St, San Francisco, CA 94016 |September|711 Forest St |San Francisco|CA   |94016      |
|248168  |USB-C Charging Cable    |1               |11.95     |09/30/19 18:59|219 Hickory St, San Francisco, CA 94016|September|219 Hickory St|San Francisco|CA   |94016      |
|248169  |20in Monitor            |1               |109.99    |09/24/19 19:40|140 Ridge St, San Francisco, CA 94016  |September|140 Ridge St  |San Francisco|CA   |94016      |
|248170  |AAA Batteries (4-pack)  |1               |2.99      |09/04/19 02:01|857 Main St, Boston, MA 02215          |September|857 Main St   |Boston       |MA   |02215      |
|248171  |USB-C Charging Cable    |1               |11.95     |09/05/19 15:06|705 Hill St, New York City, NY 10001   |September|705 Hill St   |New York City|NY   |10001      |
|248171  |USB-C Charging Cable    |1               |11.95     |09/05/19 15:06|705 Hill St, New York City, NY 10001   |September|705 Hill St   |New York City|NY   |10001      |
|248172  |Wired Headphones        |1               |11.99     |09/13/19 16:49|820 Hill St, Boston, MA 02215          |September|820 Hill St   |Boston       |MA   |02215      |
+--------+------------------------+----------------+----------+--------------+---------------------------------------+---------+--------------+-------------+-----+-----------+
only showing top 20 rows

## Cache

In [25]:
# Кэширование
df_parsed.cache()

DataFrame[Order ID: int, Product: string, Quantity Ordered: int, Price Each: double, Order Date: string, Purchase Address: string, Month: string, Street address: string, City: string, State: string, Postal Code: string]

## Total Price

In [26]:
# Подсчет Total Price
df_total_price = df_parsed.withColumn("Total Price", df_parsed["Quantity Ordered"] * df_parsed["Price Each"])

# Отобразил преобразованный DF
df_total_price.show()

+--------+--------------------+----------------+----------+--------------+--------------------+---------+--------------+-------------+-----+-----------+-----------+
|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|    Month|Street address|         City|State|Postal Code|Total Price|
+--------+--------------------+----------------+----------+--------------+--------------------+---------+--------------+-------------+-----+-----------+-----------+
|  248151|AA Batteries (4-p...|               4|      3.84|09/17/19 14:44|380 North St, Los...|September|  380 North St|  Los Angeles|   CA|      90001|      15.36|
|  248152|USB-C Charging Cable|               2|     11.95|09/29/19 10:19|511 8th St, Austi...|September|    511 8th St|       Austin|   TX|      73301|       23.9|
|  248153|USB-C Charging Cable|               1|     11.95|09/16/19 17:48|151 Johnson St, L...|September|151 Johnson St|  Los Angeles|   CA|      90001|      11.95|
|  248154|    27in FHD Monitor|               1|    149.99|09/27/19 07:52|355 Hickory St, S...|September|355 Hickory St|      Seattle|   WA|      98101|     149.99|
|  248155|USB-C Charging Cable|               1|     11.95|09/01/19 19:03|125 5th St, Atlan...|September|    125 5th St|      Atlanta|   GA|      30301|      11.95|
|  248156|34in Ultrawide Mo...|               1|    379.99|09/13/19 14:59|469 12th St, Los ...|September|   469 12th St|  Los Angeles|   CA|      90001|     379.99|
|  248157|Lightning Chargin...|               1|     14.95|09/07/19 09:59|773 Johnson St, P...|September|773 Johnson St|     Portland|   ME|      04101|      14.95|
|  248158|Lightning Chargin...|               1|     14.95|09/02/19 14:16|682 Sunset St, Lo...|September| 682 Sunset St|  Los Angeles|   CA|      90001|      14.95|
|  248159|     Vareebadd Phone|               1|     400.0|09/06/19 16:45|664 Wilson St, Ne...|September| 664 Wilson St|New York City|   NY|      10001|      400.0|
|  248160|    Wired Headphones|               1|     11.99|09/01/19 22:03|446 9th St, San F...|September|    446 9th St|San Francisco|   CA|      94016|      11.99|
|  248161|USB-C Charging Cable|               1|     11.95|09/24/19 16:26|439 Spruce St, Sa...|September| 439 Spruce St|San Francisco|   CA|      94016|      11.95|
|  248162|AAA Batteries (4-...|               3|      2.99|09/14/19 12:52|439 Walnut St, Se...|September| 439 Walnut St|      Seattle|   WA|      98101|       8.97|
|  248165|Lightning Chargin...|               1|     14.95|09/15/19 12:42|585 Adams St, Atl...|September|  585 Adams St|      Atlanta|   GA|      30301|      14.95|
|  248167|        Google Phone|               1|     600.0|09/02/19 18:52|711 Forest St, Sa...|September| 711 Forest St|San Francisco|   CA|      94016|      600.0|
|  248168|USB-C Charging Cable|               1|     11.95|09/30/19 18:59|219 Hickory St, S...|September|219 Hickory St|San Francisco|   CA|      94016|      11.95|
|  248169|        20in Monitor|               1|    109.99|09/24/19 19:40|140 Ridge St, San...|September|  140 Ridge St|San Francisco|   CA|      94016|     109.99|
|  248170|AAA Batteries (4-...|               1|      2.99|09/04/19 02:01|857 Main St, Bost...|September|   857 Main St|       Boston|   MA|      02215|       2.99|
|  248171|USB-C Charging Cable|               1|     11.95|09/05/19 15:06|705 Hill St, New ...|September|   705 Hill St|New York City|   NY|      10001|      11.95|
|  248171|USB-C Charging Cable|               1|     11.95|09/05/19 15:06|705 Hill St, New ...|September|   705 Hill St|New York City|   NY|      10001|      11.95|
|  248172|    Wired Headphones|               1|     11.99|09/13/19 16:49|820 Hill St, Bost...|September|   820 Hill St|       Boston|   MA|      02215|      11.99|
+--------+--------------------+----------------+----------+--------------+--------------------+---------+--------------+-------------+-----+-----------+-----------+
only showing top 20 rows

## Оценка времени

In [27]:
# Без кеширования
start_time = time()
df_total_price.count()
end_time = time()
print(f"Без кэширования: {end_time - start_time} seconds")

Без кэширования: 0.11428356170654297 seconds

In [28]:
# С кешированием
df_parsed.cache()
start_time_cached = time()
df_total_price.count()
end_time_cached = time()
print(f"С кэшированием: {end_time_cached - start_time_cached} seconds")

24/06/20 00:15:38 WARN CacheManager: Asked to cache already cached data.

С кэшированием: 0.09195351600646973 seconds

Кеширование данных играет ключевую роль в улучшении производительности и эффективности работы системы. Оно позволяет сократить время отклика приложения, так как кешированные данные мгновенно доступны без необходимости выполнения долгих запросов к базе данных. Это также снижает нагрузку на серверы, улучшая общую отзывчивость системы и оптимизируя использование вычислительных ресурсов. Например онлайн магазин.